{% extends "base.html" %}


{%block title%}Authenticate{%endblock%}



{%block head%}
{{ super() }}
{%endblock%}


{%block content%}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="text-center col-10 col-md-8 col-lg-6">

            <h1 class="md-5">Find Feature Vectors</h1>
            Ear Biometric System (Army Institute of Technology)
            <form action="" method="post" enctype="multipart/form-data">
                
                {{form.hidden_tag()}}
                {% for ele in form %}
                {% for error in ele.errors %}
                    <span style="color: red;">{{error}}</span>
                    <br>
                {% endfor %}
                {% endfor %}
                
                <div class="mt-5">
                    <img
                        src="../static/ear.jpg"
                        class="img-thumbnail"
                        style="height: 200px; width: 200px; margin:5px;"
                        id="earimageo"
                    />
                </div>
                Ear Picture

                
                <br>
                <div class="row">
                    Ear Image<i style="color: red; width:auto; padding:0%;">*</i>: {{form.earphoto(class="form-control", id="earimage")}}
                </div>
                <br>

                <div class="row">{{form.submit(class="btn btn-success")}}</div>
            </form>
            <br>

        </div>
    </div>
</div>
<script>
    function updateEar(){
        var selectedFile = document.getElementById("earimage").files[0];
        var img = document.getElementById('earimageo')

        var reader = new FileReader();
        reader.onload = function(){
            img.src = this.result
        }
        reader.readAsDataURL(selectedFile);
    }
    
    document.getElementById("earimage").addEventListener("change", updateEar);
    
</script>
{%endblock%}



{%block footer%}
{{ super() }}
{%endblock%}