{% extends "base.html" %}


{%block title%}Authenticate{%endblock%}



{%block head%}
{{ super() }}
<style>
    
</style>
{%endblock%}


{%block content%}

<div class="container" >
    <div class="row justify-content-center align-items-center">
        <div class="text-center col-10 col-md-8 col-lg-6 box" style="margin-top: 2rem;">

            <h1 class="md-5">Ear Authentication</h1>
            (Army Institute of Technology)
            <br>
            <form action="" method="post" enctype="multipart/form-data">
                
                {{form.hidden_tag()}}
                {% for ele in form %}
                {% for error in ele.errors %}
                    <span style="color: red;">{{error}}</span>
                    <br>
                {% endfor %}
                {% endfor %}
                
                <div class="">
                    <img
                        src="../static/ear.jpg"
                        class="img-thumbnail"
                        style="height: 200px; width: 200px; margin:5px;"
                        id="earimageo"
                    />
                </div>
                Ear Picture

                
                <br>
                <div class="row">
                    Ear Image<i style="color: red; width:auto; padding:0%;">*</i>: {{form.earphoto(class="form-control", id="earimage")}}
                    
                </div>
                <br>
                {{form.databasetype()}}
                <div class="row">
                    {{form.submit(class="btn btn-success")}}
                    <button type="button" class="btn btn-warning" onclick="showInstructions()" style="margin-left: 1rem;">Show Instructions</button>
                </div>
            </form>
            <br>

        </div>
    </div>



<script>
    function updateEar(){
        var selectedFile = document.getElementById("earimage").files[0];
        var img = document.getElementById('earimageo')

        var reader = new FileReader();
        reader.onload = function(){
            img.src = this.result
        }
        reader.readAsDataURL(selectedFile);
    }
    
    document.getElementById("earimage").addEventListener("change", updateEar);
    
</script>

{%endblock%}



{%block footer%}
{{ super() }}
{%endblock%}