{% extends "base.html" %}


{%block title%}Multimode{%endblock%}



{%block head%}
{{ super() }}
<style>
    #earimageo {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
</style>
{%endblock%}


{%block content%}

<div class="container">
    
    
    <div class="row justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-8 box" style="margin-top:2rem;">
        <div class="text-center " style=" margin-right:2rem">
            <div class=" text-center">
                <h1 class="">MultiMode System</h1>
                (Army Institute of Technology)
                <br>
            <br>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                
                {{form.hidden_tag()}}
                {% for ele in form %}
                {% for error in ele.errors %}
                    <span style="color: red;">{{error}}</span>
                    <br>
                {% endfor %}
                {% endfor %}
                
                

                

                <div class="container" style="display: flex;">
                    <div class="col-6 col-md-6 m-6" style="margin-right:2rem;">
                        <div class="">
                            <img
                                src="../static/ear.jpg"
                                class="img-thumbnail"
                                style="height: 200px; width: 200px; margin:5px;"
                                id="earimageo"
                            />
                        </div>
                        Ear Picture
        
                        
                        <br>
                        <div class="row">
                            Ear Image<i style="color: red; width:auto; padding:0%;">*</i>: {{form.earphoto(class="form-control", id="earimage")}}
                            
                        </div>
                    </div>
                    
                    <div class="col-6 col-md-6" style="margin-left:2rem;">
                        <div class="">
                            <img
                                src="../static/profile.jpg"
                                class="img-thumbnail"
                                style="height: 200px; width: 200px; margin:5px;"
                                id="faceimageo"
                            />
                        </div>
                        Face Picture
        
                        
                        <br>
                        <div class="row">
                            Face Image<i style="color: red; width:auto; padding:0%;">*</i>: {{form.photo(class="form-control", id="faceimage")}}
                            
                        </div>
                    </div>
                </div>

                <br>
                {{form.databasetype()}}
                <div class="row">
                    {{form.submit(class="btn btn-success")}}
                    <button type="button" class="btn btn-warning" onclick="showInstructions()" style="margin-left: 1rem;">Show Instructions</button>
                </div>
            </form>
            <br>

        </div>
        </div>
    </div>



<script>
    function updateEar(){
        var selectedFile = document.getElementById("earimage").files[0];
        var img = document.getElementById('earimageo')

        var reader = new FileReader();
        reader.onload = function(){
            img.src = this.result
        }
        reader.readAsDataURL(selectedFile);
    }
    
    function updateFace(){
        var selectedFile = document.getElementById("faceimage").files[0];
        var img = document.getElementById('faceimageo')

        var reader = new FileReader();
        reader.onload = function(){
            img.src = this.result
        }
        reader.readAsDataURL(selectedFile);
    }

    document.getElementById("earimage").addEventListener("change", updateEar);
    document.getElementById("faceimage").addEventListener("change", updateFace);
    
</script>
{%endblock%}



{%block footer%}
{{ super() }}
{%endblock%}