{% extends "base.html" %}


{%block title%}User Profile{%endblock%}



{%block head%}
{{ super() }}
{%endblock%}


{%block content%}
<div class="container">
    <div class="row justify-content-center align-items-center">
        {% if profile %}
        <!-- <script>
            swal("Match Found", "", "success");
        </script> -->
        
        <div class="card text-black bg-light" style="width:100%;">
            <div class="card-header"><h3><b>{{ prompt }}</b></h3></div>
            <div class="card-body">
              <p class="card-text">
                <div class="" style="display: flex; height:20%">
                    <figure>
                        <img
                        src = {{ profile['profileImg'] }}
                        class="img-thumbnail"
                        id="pimageo"
                        style="height: 200px; width: 200px; margin:5px;"
                        />
                        <figcaption>Profile Picture</figcaption>
                    </figure>
                    <figure style="margin-left: 2rem;">
                        <img
                        src = {{ images[0] }}
                        class="img-thumbnail"
                        id="pimageo"
                        style="height: 200px; width: 200px; margin:5px; -webkit-filter: grayscale(100%); filter: grayscale(100%);"
                        />
                        <figcaption>Original Ear</figcaption>
                    </figure>
                    <figure style="margin-left: 2rem; -webkit-filter: grayscale(100%); filter: grayscale(100%);">
                        <img
                        id="gauss" 
                        src = {{ images[1] }}
                        class="img-thumbnail"
                        id="pimageo"
                        style="height: 200px; width: 200px; margin:5px;"
                        />
                        <figcaption>Gaussian Blur</figcaption>
                    </figure>
                    <figure style="margin-left: 2rem;">
                        <img
                        id="canny" 
                        src = {{ images[2] }}
                        class="img-thumbnail"
                        id="pimageo"
                        style="height: 200px; width: 200px; margin:5px;"
                        />
                        <figcaption>Canny</figcaption>
                    </figure>
                    
                </div>
                <div class="">
                    
                </div>
                <p class="card-text">
                <!-- {{databasetype}} -->
                {% if values[0] %}
                <b>Accuracy:</b> {{ values[0] }} % <br>
                {% endif %}
                {% if databasetype=="0" %}
                <b>Time took:</b> {{ values[1] }} seconds <br>
                {% endif %}
                {% if databasetype=="1"%}
                <b>Time took:</b> {{ values[1]/4 }} seconds <br>
                {% endif %}
                {% if databasetype=="2"%}
                <b>Time took:</b> {{ values[1] }} seconds <br>
                <b>Time took:</b> {{ values[1]/4 }} seconds <br>
                {% endif %}
                <b>Feature Vector 1:</b> {{ ear['fv'][0]}} <br>
                <b>Feature Vector 2:</b> {{ ear['fv'][1]}} <br>
                <b>Shape:</b> {{ ear['shape']}} <br> <br>    
                <b>ID:</b>{{ profile['id']}} <br>
                <b>Full Name: </b>{{ profile['name']}} <br>
                <b>Father Name: </b>{{ profile['fatherName']}} <br>
                <b>Date of Birth: </b>{{ profile['dob']}} <br>
                <b>Blood Group:</b> {{ profile['bloodGroup']}} <br>
                <br>
                <!-- <b>Feature Vector 1: (angle between reference_Line_1 joining reference point and normal intersection point on the outer edge)</b>
                <br>
                {{profile['fv'][0]}}
                <br>
                <br>
                <b>Feature Vector 2: (angle between reference_line_2 joining reference point and normal intersection point on the outer edge)</b>
                <br>
                {{profile['fv'][1]}}
                <br>
                <br>
                <b>Ear Category:</b>{{profile['shape']+1}} -->
              </p>
            </div>
        </div>
        <script>
            document.getElementById('gauss').src = document.getElementById('gauss').src+'?'+(new Date()).getTime();
            document.getElementById('canny').src = document.getElementById('canny').src+'?'+(new Date()).getTime();
        </script>
        {% endif %}
        {% if not profile%}
        <script>
            swal("Match not found", "Please contact admin to register", "error");
        </script>
        {% endif %}
    </div>
</div>
<script>
    function updateEar(){
        var selectedFile = document.getElementById("earimage").files[0];
        var img = document.getElementById('earimageo')

        var reader = new FileReader();
        reader.onload = function(){
            img.src = this.result
        }
        reader.readAsDataURL(selectedFile);
    }
    
    document.getElementById("earimage").addEventListener("change", updateEar);
    
</script>
{%endblock%}



{%block footer%}
{{ super() }}
{%endblock%}